doctype html
html(lang='en', ng-app='mark-it')
  head
    meta(charset='UTF-8')
    title test
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    .container-fluid.container-padding
      .row
        .col-xs-12.col-lg-12
          .navbar.navbar-default.navbar-fixed-top
            .container
              a.navbar-brand(href='/') Mark It
              button.navbar-toggle(data-toggle='collapse', data-target='.navHeaderCollapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              .collapse.navbar-collapse.navHeaderCollapse
                ul.nav.navbar-nav
                  li.active
                    a(href='#') Home
                  li.dropdown
                    a.dropdown-toogle(href='#', data-toggle='dropdown')
                      | Attendance 
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') New
                      li
                        a(href='#') Reports
                      li
                        a(href='#') Summary
                  li.dropdown
                    a.dropdown-toogle(href='#', data-toggle='dropdown')
                      | Students 
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') New
                      li
                        a(href='#') Reports
                      li
                        a(href='#') Summary
                  li.dropdown
                    a.dropdown-toogle(href='#', data-toggle='dropdown')
                      | Reports 
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Daily
                      li
                        a(href='#') Weekly
                      li
                        a(href='#') Monthly
                  li.dropdown
                    a.dropdown-toogle(href='#', data-toggle='dropdown')
                      | Announcements 
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') New
                      li
                        a(href='#') Details
                  li.dropdown
                    a.dropdown-toogle(href='#', data-toggle='dropdown')
                      | About Us 
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Contact Us
                      li
                        a(href='#') Feedback
                  li.dropdown
                    a.dropdown-toogle(href='#', data-toggle='dropdown')
                      | Profile 
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Details
                      li
                        a(href='/logout') Logout
      #notify-container.row
        .col-xs-12.col-lg-12.message
          .alert.alert-info.alert-dismissible(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            |  Welcome 
            strong #{DisplayName}!
      #app-container.row.mtl(ng-controller='UserProfileController as user')
        .col-xs-12.col-lg-8.col-lg-offset-2.mtl
          .panel.panel-primary
            .panel-heading
              h3.panel-title User Details
            .panel-body.text-center
              .row.mts
                .col-xs-12.col-lg-12
                  .input-group
                    span#basic-addon1.input-group-addon User Name
                    input.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1', ng-model='user.model.DisplayName')
              .row.mts
                .col-xs-12.col-lg-12
                  .input-group
                    span#basic-addon1.input-group-addon Email Id
                    input.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1', ng-model='user.model.Email')
              .row.mts
                .col-xs-12.col-lg-12
                  .input-group
                    span#basic-addon1.input-group-addon User Id
                    input.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1', ng-model='user.model.Id')
      script(type='text/javascript', src='/javascripts/libraries/jquery.min.js')
      script(type='text/javascript', src='/javascripts/libraries/angular.min.js')
      script(type='text/javascript', src='/javascripts/libraries/bootstrap.min.js')
      script(type='text/javascript', src='/javascripts/application.js')
