.mtxl {
    margin-top: 50px;
}

.mtm {
    margin-top: 10px;
}

.mtl {
    margin-top: 20px;
}

.mts {
    margin-top: 5px;
}

.mll {
    margin-left: 40px;
}

.mls {
    margin-left: 5px;
}

.hidden {
    visibility: hidden;
}

.bas {
    border: solid black thin;
}

.pls {
    padding-right: 5px;
}

.header-span {
    font-size: 1.5em;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.default-line-height {
    line-height: normal !important;
}

.white-font {
    color: white;
}

.profile-background {
    border-bottom: solid white thin;
    border-top: solid white thin;
    padding: 10px 0 10px 0;
    height: 70px;
}
