body {
    @include background( linear-gradient(left, #272838, #2b2d41, #393549, #433545));
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: medium !important;
}

.container-padding {
    padding: 0 20px 0 20px;
}

.position-inherit {
    position: inherit;
}

.jumbotron img{
}

.social-network-image{
    /*margin-right: 30px;*/
    height: 50px;
    width: 50px;    
}
