<div class="col-xs-12 col-lg-6 col-lg-offset-3 mtl" ng-init="ctrl.getLoggedInUser()">
    <h1 class="text-center" ng-show="ctrl.IsUserLoggedIn">Home Page</h1>
    <div class="panel panel-info" ng-hide="ctrl.IsUserLoggedIn">
        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body text-center">
            <div class="row">
                <div class="col-xs-4">
                    <a href="/auth/facebook">
                        <img src="/images/Facebook-thumbnail.jpg" alt="facebook" class="image-thumbnail social-network-image">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="/auth/google">
                        <img src="/images/gmail-thumbnail.jpg" alt="gmail" class="image-thumbnail social-network-image">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="/auth/twitter">
                        <img src="/images/twitter-thumbnail.png" alt="twitter" class="image-circle social-network-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
