<div class="col-xs-12 col-lg-8 col-lg-offset-2" ng-hide="ctrl.Collection.length" ng-init="ctrl.getClassRooms()">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 class="text-center">Class room details are not available!</h3>
        </div>
    </div>
</div>
<div class="col-xs-12 col-lg-8 col-lg-offset-2" ng-show="ctrl.Collection.length">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 class="text-center">Class Room Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <table class="table table-hover table-bordered table-condensed text-center">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Class Teacher</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in ctrl.Collection | orderBy:'Name'">
                        <td>{{$index+1}}</td>
                        <td>
                            <a href="#/class-room/{{model._id}}">{{model.Name}}</a>
                        </td>
                        <td>{{model.ClassTeacher}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
