<div class="col-lg-4 col-lg-offset-4">
    <div class="row text-center">
        <div class="col-lg-12">
            <h3>Add New Class Room</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="email-id">Name</label>
            <input id="email-id" type="text" class="form-control" ng-model="ctrl.Model.Name">
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-12">
            <label for="email-id">Division</label>
            <input id="email-id" type="text" class="form-control" ng-model="ctrl.Model.Division">
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-12">
            <label for="email-id">Class Teacher</label>
            <input id="email-id" type="text" class="form-control" ng-model="ctrl.Model.ClassTeacher">
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-12">
            <label for="email-id">Details</label>
            <textarea id="email-id" type="text" class="form-control" ng-model="ctrl.Model.Details"></textarea>
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-12">
            <button class=" btn btn-primary col-lg-12" ng-click="ctrl.saveClassRoom()">Add New Class Room</button>
        </div>
    </div>
</div>
