<!DOCTYPE html>
<html lang="en" data-ng-app="mark-it">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <!-- html -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="navbar navbar-default">
                    <div class="container"><a href="/" class="navbar-brand">Mark It</a>
                        <button data-toggle="collapse" data-target=".navHeaderCollapse" class="navbar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse navHeaderCollapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toogle pointer">Attendance <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">New</a></li>
                                        <li><a href="#">Reports</a></li>
                                        <li><a href="#">Summary</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toogle pointer">Students <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">New</a></li>
                                        <li><a href="#/student-attendsnce-list">Reports</a></li>
                                        <li><a href="#">Summary</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toogle pointer">Reports <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Daily</a></li>
                                        <li><a href="#">Weekly</a></li>
                                        <li><a href="#">Monthly</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toogle pointer">Announcements <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">New</a></li>
                                        <li><a href="#">Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toogle pointer">About Us <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Feedback</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toogle pointer">Profile <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Details</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="notify-container" class="row hidden">
            <div class=" col-xs-12 col-lg-12">
                <div role="alert" class="alert alert-info alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button> Welcome <strong>Manoj Chalode!</strong> Update your profile.
                </div>
            </div>
        </div>
        <div id="app-container" class="row app-background pbs" ng-view>
        </div>
    </div>
    <!-- scripts -->
    <script type="text/html" id="user-profile-template">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3 app-background">
            <ul class="nav nav-tabs pts">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
            <div class="row mts">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <label for="display-name">Display Name</label>
                    <input id="display-name" type="text" disabled="disabled" class="form-control col-xs-12 col-lg-4" ng-model="user.DisplayName">
                </div>
            </div>
            <div class="row mts">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <label for="email-id">Email Id</label>
                    <input id="email-id" type="email" disabled="disabled" class="form-control col-xs-12 col-lg-4" ng-model="user.Email">
                </div>
            </div>
            <div class="row mts">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <label for="user-name">User Name</label>
                    <input id="user-name" type="text" class="form-control col-xs-12 col-lg-4" placeholder="e.g. cool_john">
                </div>
            </div>
            <div class="row mts">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <label for="user-role">User Role</label>
                    <select id="user-role" class="form-control col-xs-12 col-lg-4">
                        <option>Select Role</option>
                        <option>Admin</option>
                        <option>Teacher</option>
                        <option>Student</option>
                        <option>Parent</option>
                    </select>
                </div>
            </div>
            <div class="row mtl pbs">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <input type="button" id="btn-update-profile" class="btn btn-primary form-control" value="Update Profile">
                </div>
            </div>
    </script>
    <script type="text/javascript" src="/javascript/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/libraries/angular.min.js"></script>
    <script type="text/javascript" src="/javascript/libraries/angular.route.min.js"></script>
    <script type="text/javascript" src="/javascript/libraries/bootstrap.js"></script>
    <script type="text/javascript" src="/javascript/application.js"></script>
    <script type="text/javascript" src="/javascript/angular/routes/routes.js"></script>
    <script type="text/javascript" src="/javascript/angular/factories/attendance-report.js"></script>
    <script type="text/javascript" src="/javascript/angular/controllers/attendance-report.js"></script>
    <script type="text/javascript" src="/javascript/angular/controllers/attendance-details.js"></script>
</body>

</html>
