<!DOCTYPE>
<html lang="en" data-ng-app="mark-it">

<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if isDevEnvironment %}
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/loading-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css"> {% endif %} {% if !isDevEnvironment %}
    <!-- minified css -->
    <link rel="stylesheet" type="text/css" href="/css/style.min.css"> {% endif %}
</head>

<body>
    <!-- html -->
    <div class="container-fluid">
        <div class="row" ng-controller="HeaderController as ctrl">
            <div class="col-xs-12 col-lg-12">
                <div class="navbar navbar-default">
                    <div class="container"><a href="/" class="navbar-brand">Mark It</a>
                        <button data-toggle="collapse" data-target=".navHeaderCollapse" class="navbar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse navHeaderCollapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#/">Home</a></li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toogle pointer">Attendance
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/attendance-report">List</a></li>
                                        <li><a href="#">Ressults</a></li>
                                        <li><a href="#/">Reports</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toogle pointer">Programs 
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/">List</a></li>
                                        <li><a href="#/">Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toogle pointer">Profile 
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/profile-details">Details</a></li>
                                        <li><a href="#" ng-click="ctrl.logout()">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="NotificationController as ctrl">
            <div class=" col-xs-12 col-lg-10 col-lg-offset-1" ng-show="Model.Message">
                <div role="alert" class="alert alert-dismissible {{ctrl.getAlertType()}}">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close" ng-click="ctrl.resetMessage()">
                        <span aria-hidden="true">×</span>
                    </button> {{Model.Message}}
                </div>
            </div>
        </div>
        <div id="app-container" class="row app-background pbs" ng-view>
        </div>
    </div>
    {% if isDevEnvironment %}
    <!-- library scripts -->
    <script src="/javascript/libraries/jquery.min.js"></script>
    <script src="/javascript/libraries/angular.min.js"></script>
    <script src="/javascript/libraries/angular.route.min.js"></script>
    <script src="/javascript/libraries/bootstrap.js"></script>
    <script src="/javascript/libraries/loading-bar.js"></script>
    <!-- application scripts -->
    <script src="/javascript/utilities/extensions.js"></script>
    <script src="/javascript/application.js"></script>
    <script src="/javascript/angular/routes/routes.js"></script>
    <script src="/javascript/angular/factories/app-data.js"></script>
    <script src="/javascript/angular/controllers/header.js"></script>
    <script src="/javascript/angular/controllers/authentication.js"></script>
    <script src="/javascript/angular/controllers/profile.js"></script>
    <script src="/javascript/angular/controllers/attendance.js"></script>
    <script src="/javascript/angular/controllers/student.js"></script>
    <script src="/javascript/angular/controllers/notification.js"></script>
    <script src="/javascript/angular/controllers/class-room.js"></script>
    {% endif %} {% if !isDevEnvironment %}
    <!-- minified script file -->
    <script src="/javascript/script.min.js"></script>
    {% endif %}
</body>

</html>
