<div class="col-xs-12 col-lg-8 col-lg-offset-2" ng-hide="ctrl.Collection.length" ng-init="ctrl.getAllStudents()">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 class="text-center">Student details are not available!</h3>
        </div>
    </div>
</div>
<div class="col-xs-12 col-lg-8 col-lg-offset-2" ng-show="ctrl.Collection.length">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 class="text-center">Student Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <table class="table table-hover table-bordered table-condensed text-center">
                <thead>
                    <tr>
                        <th class="text-center">Roll Number</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Class</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in ctrl.Collection">
                        <td>{{model.RollNumber}}</td>
                        <td>
                            <a href="#/students/{{model._id}}">{{ctrl.getFullName(model)}}</a>
                        </td>
                        <td>{{model.Class}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
