<div class="col-xs-12 col-lg-8 col-lg-offset-2" ng-hide="ctrl.AttendanceCollection.length" ng-init="ctrl.getAttendanceDetails()">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 class="text-center">Attendance details are not available!</h3>
        </div>
    </div>
</div>
<div class="col-xs-12 col-lg-8 col-lg-offset-2" ng-show="ctrl.AttendanceCollection.length">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 class="text-center">Attendance Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <table class="table table-hover table-bordered table-condensed text-center">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Note</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in ctrl.AttendanceCollection" ng-class="model.IsPresent ? '' : 'warning'">
                        <td>{{$index+1}}</td>
                        <td>
                            <a href="#/students/{{model.StudentId._id}}"> {{ctrl.getStudentName(model)}}</a>
                        </td>
                        <td>{{model.Date | date:'yyyy-MM-dd'}}</td>
                        <td>{{ctrl.getStatus(model)}}</td>
                        <td>{{model.Note}}</td>
                        <td>
                            <span class="glyphicon glyphicon-trash pointer" ng-click="ctrl.removeSelectedRow(model)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
