<div class="col-lg-12">
    <div class="row mts">
        <div class="col-lg-6 col-lg-offset-3">
            <label for="email-id">First Name</label>
            <input id="email-id" type="text" class="form-control" ng-model="ctrl.Student.FirstName">
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-6 col-lg-offset-3">
            <label for="email-id">Last Name</label>
            <input id="email-id" type="text" class="form-control" ng-model="ctrl.Student.LastName">
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-6 col-lg-offset-3">
            <label for="email-id">Class</label>
            <input id="email-id" type="text" class="form-control" ng-model="ctrl.Student.Class">
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-6 col-lg-offset-3">
            <label for="email-id">Division</label>
            <input id="email-id" type="text" class="form-control" ng-model="ctrl.Student.Division">
        </div>
    </div>
    <div class="row mtl">
        <div class="col-lg-6 col-lg-offset-3">
            <button class="btn btn-primary col-lg-4 col-lg-offset-8" ng-click="ctrl.addStudent()">Save Student Data</button>
        </div>
    </div>
</div>
