<div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <div class="row" ng-hide="ctrl.Collection.length">
        <div class="col-xs-12 col-lg-12">
            <h3 class="text-center">Students data is not available!</h3>
        </div>
    </div>
    <div class="row" ng-show="ctrl.Collection.length">
        <div class="col-xs-12 col-lg-6">
            <h3>Attendance - {{ctrl.AttendanceDate | date: "dd MMM yyyy"}}</h3>
        </div>
        <div class="col-xs-12 col-lg-6">
            <button class="btn btn-primary btn-link col-lg-4 col-lg-offset-7 mts" ng-click="ctrl.saveDetails()">Submit Attendance</button>
        </div>
    </div>
    <div class="row" ng-show="ctrl.Collection.length">
        <table class="table table-hover table-bordered table-condensed text-center">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Attendance</th>
                    <th class="text-center">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="model in ctrl.Collection">
                    <td>{{$index+1}}</td>
                    <td> {{ctrl.getFullName(model)}}</td>
                    <td>
                        <input type="checkbox" class="form-control input-sm" ng-model="model.IsPresent">
                    </td>
                    <td>
                        <input class="form-control" type="text" ng-model="model.Note">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
