<div class="col-xs-12 col-lg-8 col-lg-offset-2" ng-hide="ctrl.Collection.length">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 class="text-center">Student details are not available!</h3>
        </div>
    </div>
</div>
<div class="col-xs-12 col-lg-8 col-lg-offset-2" ng-show="ctrl.Collection.length">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 class="text-center">Student Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <table class="table table-hover table-bordered text-center">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Class</th>
                        <th class="text-center">Division</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in ctrl.Collection">
                        <td><a href="#/students/{{model._id}}">{{$index+1}}</a></td>
                        <td>{{ctrl.getFullName(model)}}</td>
                        <td>{{model.Class}}</td>
                        <td>{{model.Division}}</td>
                        <td>
                            <span class="glyphicon glyphicon-trash pointer" ng-click="ctrl.removeSelectedRow(model)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
