<div class="col-xs-12 col-lg-6 col-lg-offset-3" ng-controller="StudentAttendsnceDetailsController as sadc">
    <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-center">
            <h3>Student Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <label for="display-name">First Name</label>
            <input id="display-name" type="text" disabled="disabled" class="form-control col-xs-12 col-lg-4" ng-model="sadc.model.FirstName">
        </div>
    </div>
    <div class="row mts">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <label for="email-id">Last Name</label>
            <input id="email-id" type="email" disabled="disabled" class="form-control col-xs-12 col-lg-4" ng-model="sadc.model.LastName">
        </div>
    </div>
    <div class="row mts">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <label for="user-name">Class</label>
            <input id="user-name" type="text" disabled="disabled" class="form-control col-xs-12 col-lg-4" ng-model="sadc.getClassName()">
        </div>
    </div>
</div>
