<div class="col-xs-12 col-lg-6 col-lg-offset-3 app-background">
    <ul class="nav nav-tabs pts">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    <div class="row mts">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <label for="display-name">Display Name</label>
            <input id="display-name" type="text" disabled="disabled" class="form-control col-xs-12 col-lg-4" ng-model="user.DisplayName">
        </div>
    </div>
    <div class="row mts">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <label for="email-id">Email Id</label>
            <input id="email-id" type="email" disabled="disabled" class="form-control col-xs-12 col-lg-4" ng-model="user.Email">
        </div>
    </div>
    <div class="row mts">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <label for="user-name">User Name</label>
            <input id="user-name" type="text" class="form-control col-xs-12 col-lg-4" placeholder="e.g. cool_john">
        </div>
    </div>
    <div class="row mts">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <label for="user-role">User Role</label>
            <select id="user-role" class="form-control col-xs-12 col-lg-4">
                <option>Select Role</option>
                <option>Admin</option>
                <option>Teacher</option>
                <option>Student</option>
                <option>Parent</option>
            </select>
        </div>
    </div>
    <div class="row mtl pbs">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <input type="button" id="btn-update-profile" class="btn btn-primary form-control" value="Update Profile">
        </div>
    </div>
</div>
